
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li, ol{
    list-style: none;
}
a:link,
a:visited,
a:hover,
a:focus{
    text-decoration: none;
    outline: none;
}
input:focus{
    outline: none;
}
button{
    border: none;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Bebas Neue', cursive;
}